.bg-gr{
    background: #FF0099;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn {
  border: none;
  margin-right: 20px;
  background: transparent;
  padding: 10px 10px 10px 10px;
  font-family: 'Ubuntu', sans-serif !important;
}
.btn:hover,
.btn:focus{
    background: #493240;
    color: white;
    opacity: 0.8;
    transition: opacity 0.4s ease-in;
}